 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/footerpage.css">
 </head>
 <body>
     <!---------------page4------------->
  <div id="footer">
    <h1>Rohit</h1>
    <h3>Every idea needs a Medium</h3>
    <div>
        <a href="">About</a>
        <a href="">Terms</a>
        <a href="">Privacy</a>
        <a href="">Help</a>
    </div>
</div>   
 </body>
 </html>