<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/homepage.css">
    <link rel="stylesheet" href="/stylesheets/Our_story.css">
    <link rel="stylesheet" href="/stylesheets/membership.css">
    <link rel="stylesheet" href="/stylesheets/write.css">
    <link rel="stylesheet" href="/stylesheets/Getstart.css">
   <link rel="stylesheet" href="/stylesheets/nav_our_story.css">
   <link rel="stylesheet" href="/stylesheets/navbar2.css">
   <link rel="stylesheet" href="/stylesheets/nav_home.css">
   <link rel="stylesheet" href="/stylesheets/nav_membership.css">
   <link rel="stylesheet" href="/stylesheets/signup.css">
   <link rel="stylesheet" href="/stylesheets/signinbtn.css">
   <link rel="stylesheet" href="/stylesheets/signinpage.css">
   <link rel="stylesheet" href="/stylesheets/mainpagenavbar.css">
   <link rel="stylesheet" href="/stylesheets/profile.css">
   <link rel="stylesheet" href="/stylesheets/settings.css">
</head>
<body>
    
