<%- include("header")%>

<nav class="mainpagenavbar">
    <div class="left">
        
        <h1>Rohit</h1>

        <form class="b1" action="#">
               <img src="https://img.icons8.com/external-others-royyan-wijaya/23/null/external-found-revamp-4-others-royyan-wijaya.png"/>
               <input  type="search" name="" placeholder="Search Mediyam">
        </form>
    </div>

    <div class="right">
         <ul>
            <!--  -->
            <div class="right_one">
                <a href="/write">
                <img src="https://img.icons8.com/external-ios-line-2px-amoghdesign/30/null/external-edit-multimedia-line-30px-ios-line-2px-amoghdesign.png"/>
                <li>Write</li>
                </a>
            </div> 
             <!--  -->
            <a href=""><img class="baleicon" src="https://img.icons8.com/ios/30/null/appointment-reminders--v1.png"/></a>
            <!--  -->
            <div class="right_two">
                <a href="/profile"><img src="https://img.icons8.com/ios/32/null/user-male-circle--v1.png"/></a>
                <img class="menuopen" src="/images/arrow-down-s-line.png" alt="">
            </div> 
         </ul>   
    </div>
</nav>


<div class="menulist">

    <div class="menulist_one mm2">
        <img class="profile_1" src="https://img.icons8.com/office/25/null/administrator-male--v1.png"/>
         <a href="/profile"><h2>Profile</h2></a>
    </div>

    <div class="menulist_one mm2">
        <img src="https://img.icons8.com/sf-ultralight/25/null/ingredients-list.png"/>
        <a href=""><h2>Lists</h2></a>
    </div>

    <div class="menulist_one mm2">
        <img src="https://img.icons8.com/external-outline-lafs/25/null/external-object-stores-cloud-storage-outline-lafs.png"/>
       <a href=""><h2>Stores</h2></a>
    </div>

    <div class=" mm2 menulist_one Settings_1">
        <img src="https://img.icons8.com/material-outlined/25/null/settings--v1.png"/>
        <a href="/settings"><h2>Settings</h2></a>
    </div>
    
   <div class=" mm2 menulist_one Settings_1">
    <img src="https://img.icons8.com/external-tal-revivo-regular-tal-revivo/25/null/external-logout-screen-from-the-working-portfolio-of-a-user-classic-regular-tal-revivo.png"/>
    <a href="/signinpage"><h2>sign out</h2></a>
   </div>
    

</div>

<%- include("footer")%>