<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/navbar2.css">
</head>
<body>
     <!-- navbar -->
 <div id="navbar">
    <a href="/"><h1>Rohit</h1></a>
    <div>
        <a href="/signinbtn">Signin</a>
        <a href="#"><Button id="nav_btn">Start writing</Button></a>
    </div>
</div>
    
</body>
</html>