<%- include("partials/header")%>
<div class="mainpage">
   
    <div class="signinbox">

   <a href="/"><img class="cross" src="https://img.icons8.com/material-rounded/24/000000/multiply--v1.png"/></a>
    
    <h1>Join Medium.</h1>
  
    <a class="btnall" href=""><button class="google_btn">
        <img src="https://img.icons8.com/color/48/null/google-logo.png"/>
        <h5 >Signin up with Google</h5>
    </button></a>

    <a class="btnall" href=""><button class="facebook_btn">
        <img src="https://img.icons8.com/fluency/48/null/facebook.png"/>
        <h5>Signin up with Facebook</h5>
    </button></a>

    <a class="btnall" href="/signup"><button class="email_btn">
        <img src="https://img.icons8.com/ios/50/null/secured-letter--v1.png"/>
        <h5>Signin up with email</h5>
    </button></a>


    <h2 class="alredy">Already have an account? <a class="signinbtn" href="/signinbtn">Sign in</a></h2>
    <p class="Terms">Click “Sign Up” to agree to Medium’s <a class="cl1" href="">Terms of Service</a> and acknowledge that Medium’s <a class="cl1" href="">Privacy Policy</a> applies to you.</p>

   </div>

</div>
<%- include("partials/footer")%>