<%- include("partials/header")%>
    <div id="main">
        <%- include("partials/nav_membership")%>

        <!-----------page21---------->
        <div id="page21">
            <h1>Fuel great thinking.</h1>
            <h3>Become a Medium member to enjoy unlimited access and
                directly support the writers you read most.</h3>
            <a href=""><button id="page21_btn">Get unlimited access</button></a>    
        </div>

         <!----------page22---------->
        <div id="page22">

            <div id="page22_left">
                <h1>Get unlimited access to every story.</h1>
                <img src="/images/page2_left.svg" alt="">
                <h3>Read any article in our entire library across all your devices — with no paywalls, story limits or ads.</h3>
            </div>

            <div id="page22_right">
                <h1>Support the voices you want to hear more from.</h1>
                <img src="/images/page2_right.svg" alt="">
                <h3>A portion of your membership will directly support the writers and thinkers you read the most.</h3>
            </div>
        </div>

        <!--------------page23-------------->
        <div id="page23">
            <h1>Take your mind
                in new directions.</h1>
            <a href=""><button id="page23_btn">Get unlimited access</button></a>    
            <img src="/images/page3 full image.svg" alt="">
        </div>


        <%- include("partials/footerpage")%>

        <!--  -->
    </div>
    <%- include("partials/footer")%>
