<%- include("partials/header")%>
<%- include("partials/nav_our_story") %>  
    <div id="main">
    
        <!---------page1---------->
        <div id="page11">
            <h1>Every idea needs a <span>Medium.</span></h1>
        </div>

          <!---------page2---------->
        <div id="page12">

            <!-- left -->
            <div id="page12_left">
                <h3>The best ideas can change who we are. Medium is where <br> those ideas take shape, take off, and spark powerful <br> conversations. We’re an open platform where over 100 million <br> readers come to find insightful and dynamic thinking. Here, <br> expert and undiscovered voices alike dive into the heart of any <br> topic and bring new ideas to the surface. Our purpose is to <br> spread these ideas and deepen understanding of the world. <br>
               <br>
                We’re creating a new model for digital publishing. One that <br> supports nuance, complexity, and vital storytelling without <br> giving in to the incentives of advertising. It’s an environment <br> that’s open to everyone but promotes substance and <br> authenticity. And it’s where deeper connections forged <br> between readers and writers can lead to discovery and <br> growth.Together with millions of collaborators, we’re building <br> a trusted and vibrant ecosystem fueled by important ideas <br> and the people who think about them.</h3>


            </div>
            
            <!-- right -->
            <div id="page12_right">

            </div>

        </div>

        <!----------------page3--------------->
        <div id="page13">

            <!-- top -->
            <div id="page13_top">
               <h1>A living network of <br> curious minds.</h1>
               <h4>Anyone can write on Medium. Thought-leaders, journalists, experts,and individuals with unique perspectives share their thinking here.  You’ll find pieces by independent writers from around the globe, stories we feature and leading authors, and smart takes on our own suite of blogs and publications.</h4>
            </div>

             <!-- bottom -->
             <div id="page13_bottom">

                <div id="page13_bottom_box1">
                    <img src="https://images.unsplash.com/photo-1488426862026-3ee34a7d66df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bW9kZWwlMjBnaXJsJTIwZmFjZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                    <h1>Erica Dhawan</h1>
                </div>

                <div id="page13_bottom_box1">
                    <img src="https://images.unsplash.com/photo-1552374196-c4e7ffc6e126?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fG1vZGVsJTIwZ2lybCUyMGZhY2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                    <h1>Devon price</h1>
                </div>

                <div id="page13_bottom_box1">
                    <img src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fG1vZGVsJTIwZ2lybCUyMGZhY2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                    <h1>GEN</h1>
                </div>

                <div id="page13_bottom_box1">
                    <img src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fG1vZGVsJTIwZ2lybCUyMGZhY2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                    <h1>Erica Dhawan</h1>
                </div>

                <div id="page13_bottom_box1">
                    <img src="https://images.unsplash.com/photo-1617019114583-affb34d1b3cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bW9kZWwlMjBnaXJsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
                    <h1>Devon price</h1>
                </div>

                <div id="page13_bottom_box1">
                    <img src="https://images.unsplash.com/photo-1524502397800-2eeaad7c3fe5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDJ8fG1vZGVsJTIwZ2lybCUyMGZhY2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                    <h1>GEN</h1>
                </div>

                <div id="page13_bottom_box1">
                    <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fG1vZGVsJTIwZ2lybCUyMGZhY2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                    <h1>Erica Dhawan</h1>
                </div>

                <div id="page13_bottom_box1">
                    <img src="https://images.unsplash.com/photo-1503185912284-5271ff81b9a8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTR8fG1vZGVsJTIwZ2lybCUyMGZhY2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                    <h1>Devon price</h1>
                </div>

                <div id="page13_bottom_box1">
                    <img src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzR8fG1vZGVsJTIwZ2lybCUyMGZhY2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                    <h1>GEN</h1>
                </div>

                <div id="page13_bottom_box1">
                    <img src="https://images.unsplash.com/photo-1581403341630-a6e0b9d2d257?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTEzfHxtb2RlbCUyMGdpcmwlMjBmYWNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
                    <h1>Erica Dhawan</h1>
                </div>

                <div id="page13_bottom_box1">
                    <img src="https://images.unsplash.com/photo-1540316264016-aeb7538f4d6f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTMwfHxtb2RlbCUyMGdpcmwlMjBmYWNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
                    <h1>Devon price</h1>
                </div>

                <div id="page13_bottom_box1">
                    <img src="https://images.unsplash.com/photo-1534751516642-a1af1ef26a56?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTQwfHxtb2RlbCUyMGdpcmwlMjBmYWNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
                    <h1>GEN</h1>
                </div>
             </div>
        </div>

        <!-------------------page4---------------------->
        <div id="page14">

            <!-- left -->
            <div id="page14_left">
               <h1>Over 100 million readers and growing.</h1>
            </div>

            <!-- right -->
            <div id="page14_right">
               <img src="https://images.unsplash.com/photo-1488426862026-3ee34a7d66df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bW9kZWwlMjBnaXJsJTIwZmFjZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
               <h3>"There’s no other place that combines such an excellent level of writing with a truly engaged and active community. Medium is truly where ideas are born, shared, and spread."</h3>

               <h3>Jackie Colburn</h3>
            </div>
        </div>

        <!------------page5-------------->
        <div id="page15">
            <h1>Create the space for your thinking to take off.</h1>
            <h4>A blank page is also a door. At Medium you can walk through it. It's easy and free to share your thinking on any topic, connect with an audience, express yourself with a range of publishing tools, and even earn money for your work.</h4>
            <a href="#"><button id="page5_btn">Write on Medium</button></a>
        </div>

        <!--------------page6-------------->
        <div id="page16">
            <h1>Get more with membership.</h1>
            <h3>Become a Medium member to enjoy unlimited access and directly support the writers you read most.</h3>
            <a href=""><button id="page6_btn">See membership option</button></a>
        </div>

         <!--------------page7-------------->
         <div id="page17">

            <div id="page17_laft">
                <h1>Read as much as you want.</h1>
                <div></div>
                <h3>Enjoy unlimited access to every story across all of your devices.</h3>
            </div>

            <div id="page17_right">
                <h1>Reward quality content.</h1>
                <div></div>
                <h3>Your membership helps us pay writers, and keeps your experience ad-free</h3>
            </div>
        </div>

        <!-----------------page8------------------>
        <div id="page18">

            <div id="page18_left">
                <h1>Take Medium with you.</h1>
                <h3>Download our app so you can read wherever you <br> are.</h3>
                 
                <div>
                    <!-- <span id="page8_left_image1"></span> -->
                    <img id="page18_left_image1" src="/images/AppleStore_2x.png" alt="">
                    <img id="page18_left_image2" src="/images/PlayStore_2x.png" alt="">
                </div>
            </div>

            <div id="page18_right">
                <img src="/images/creator-find-points-iphones.png" alt="">
            </div>
        </div>

        <!----------------page9--------------->
        <div id="page19">

            <div id="page19_left">
                <h1>Learn more about us.Or join us.</h1>
            </div>

            <div id="page19_right">

                <div id="page19_right_top">
                    <h1>The Medium blog</h1>
                    <h4>Visit our company blog for the latest news, product updates, and tips and tricks.</h4>
                    <a href=""><button id="page19_right_top_btn">Read our blog</button></a>
                </div>

                <div id="page19_right_bottom">
                    <h1>Work at Medium</h1>
                    <h4>Our team is home to engineers, journalists, artists, and creatives of all stripes.</h4>
                    <a href="#"><button id="page19_right_bottom_btn">View open position</button></a>
                </div>
            </div>
        </div>

        <!----------------page20--------------->
        <div id="page20">

            <!-- left -->
            <div id="page20_left">

            </div>
            <!-- right -->
            <div id="page20_right">
                <h1>Read, write, and expand your world.</h1>
                <a href="#"><button id="page20_right_btn">Get started</button></a>
            </div>
        </div>

        <!-- ------------footer -------------->
        <%- include("partials/footerpage")%>
        <%- include("partials/footer")%>

        <!--  -->
    </div> 


