<%- include("partials/header")%>
<div class="mainpage">
   
    <div class="signinbox">
        <a href="/"><img class="cross" src="https://img.icons8.com/material-rounded/24/000000/multiply--v1.png"/></a>
    
        <!-- <div class="box" > -->
            <h1 class="title_h1">Sign up with email</h1>
            <h3 class="title_h3">Enter your email address to create an account.</h3>
            <!-- <h4 class="title_h4">Your email</h4> -->
            
            <form class="form_page" action="/signup" method="post">
                <input class="email1" type="text" name="name" placeholder="name">
                <input class="email1" type="text" name="username" placeholder="username">
                <input class="email1" type="text" name="email" placeholder="rohit@gmail.com">
                <input class="email1" type="text" name="password" placeholder="******">
                <a class="continue_btn" href="/signinpage"><button>Continue</button></a>
    
            </form>
            <a class="continue_desc" href="/signinbtn"><img src="https://img.icons8.com/fluency-systems-regular/15/null/less-than.png"/> All sign up options</a>
        <!-- </div> -->
    
    
    </div>


</div>

  
    
 
<%- include("partials/footer")%>