<%- include("partials/header")%>
    <div id="main">
     <%- include("partials/navbar2")%>
        <!-----------page31------------>
        <div id="page31">

            <div id="page31_left">
                <h2>START A BLOG FOR FREE</h2>
                <h1>Publish, grow, and earn, all in one place.</h1>
                <p>If you have a story to tell, knowledge to share, or a perspective to offer — welcome home. Sign up for free so your writing can thrive in a network supported by millions of readers — not ads.</p>
                <a href="#"><button id="page31_left_btn">Start writing</button></a>
            </div>

            <div id="page31_right">
                
            </div>
        </div>

        <!-----------------page32--------------->
        <div id="page32">

            <div id="page32_left">
                <h1>Join a network
                    of curious
                    minds.</h1>
            </div>

            <div id="page32_right">

                <!-- one -->
                <div id="page32_right_box1">
                     <img src="/images/Obama.png" alt="">

                     <div id="page32_right_box1_main">
                        <h1>Rohit jaiswal</h1>
                        <h3>ENGINEER, CTC, AND AUTHOR</h3>
                     </div>
                </div>

                  <!-- two -->
                  <div id="page32_right_box1">
                    <img src="/images/Orlean.png" alt="">

                    <div id="page32_right_box1_main">
                       <h1>Rohit jaiswal</h1>
                       <h3>ENGINEER, CTC, AND AUTHOR</h3>
                    </div>
                 </div>

                   <!-- there -->
                <div id="page32_right_box1">
                    <img src="/images/Chabon.png" alt="">

                    <div id="page32_right_box1_main">
                       <h1>Rohit jaiswal</h1>
                       <h3>ENGINEER, CTC, AND AUTHOR</h3>
                    </div>
               </div>

                 <!-- four -->
                 <div id="page32_right_box1">
                    <img src="/images/Orlean.png" alt="">

                    <div id="page32_right_box1_main">
                       <h1>Rohit jaiswal</h1>
                       <h3>ENGINEER, CTC, AND AUTHOR</h3>
                    </div>
                 </div>

                <!-- five -->
                <div id="page32_right_box1">
                    <img src="/images/Obama.png" alt="">

                    <div id="page32_right_box1_main">
                       <h1>Rohit jaiswal</h1>
                       <h3>ENGINEER, CTC, AND AUTHOR</h3>
                    </div>
               </div>

                <!-- six -->
                <div id="page32_right_box1">
                    <img src="/images/Orlean.png" alt="">

                    <div id="page32_right_box1_main">
                       <h1>Rohit jaiswal</h1>
                       <h3>ENGINEER, CTC, AND AUTHOR</h3>
                    </div>
               </div>
            </div>
        </div>

        <!------------------page33----------------->
        <div id="page33">
            
            <div id="page33_left">
                <h1>Create
                    your space.</h1>
                <h3>Tell your story your way — with different ways to write, style, and brand your work.</h3>  
                
                <a href="#"><button id="page33_left_btn">Start writing</button></a>
            </div>

            <div id="page33_right">
                <img src="/images/earn_kelly_kaki.png" alt="">

            </div>
        </div>


        <!----------------page34---------------->
        <div id="page34">

            <div id="page34_left">
                <h1>Start a blog.</h1>
                <h3>Create a blog for free to have a personalized home for your writing. Brand your space and share your writing with readers on any device.</h3>
            </div>

            <div id="page34_right">
                <h1>Start a publication.</h1>
                <h3>Collaborate with others or publish under a brand name. Use our story submission system and expressive customization options.</h3>
            </div>
        </div>

        <!----------------page35-------------->
        <div id="page35">
          <h1>Find and grow your
            audience.</h1>
        <h3>With simple tools and features, you have the chance to connect with over 100 million curious readers.</h3>
        </div>

        <!-------------------page36--------------->
        <div id="page36">

            <!-- left -->
            <div id="page36_left">
                <h1>Audience insights.</h1>
                <h3>Use data to learn what resonates with your readers so you can keep growing your audience.</h3>
                <img src="/images/creator-find-points-iphones.png" alt="">
            </div>

             <!-- right -->
            <div id="page36_right">

                <!-- right top -->
                <div id="page36_right_top">
                    
                    <!--top_left -->
                    <div id="page36_right_top_left">
                        <h1>Social connectivity.</h1>
                        <h3>Find people you’re already connected with on Twitter and easily share your stories across platforms.</h3>
                    </div>

                        <!--top_right -->
                    <div id="page36_right_top_right">
                        <h1>Powerful network.</h1>
                        <h3>Readers can discover and follow you easily with tailored feeds and recommendations.</h3>
                    </div>

                </div>

                <!-- right bottem -->
                <div id="page36_right_bottem">

                    <div id="page36_right_bottem_left">
                        <h1>Email subscriptions.</h1>
                        <h3>Reach readers by having your stories delivered straight to their inboxes.</h3>
                    </div>

                    <div id="page36_right_bottem_bottem">
                        <h1>Interactive discussions.</h1>
                        <h3>Build relationships with your readers through a threaded comments section.</h3>
                    </div>

                    <div id="page36_right_bottem_right">
                        <h1>Custom design.</h1>
                        <h3>Easily customize your page to stand out and build your brand.</h3>
                    </div>
                </div>    
            </div>
        </div>

        <!-----------------page37--------------->
        <div id="page37">
            <h1>Earn money from
                your writing.</h1>
            <h3>Writing has its rewards when you join the Partner Program. Learn how to get paid for the content you publish and the audiences you build.</h3>  
            <a href=""><button id="page37_btn">Learn more</button></a> 

        </div>

        <!------------------footer-------------->
        <%- include("partials/footerpage")%>

        <!--  -->
    </div>
<%- include("partials/footer")%>