*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.navone{
    width: 98.8vw;
    height: 13vh;
    background-color: white;
    display: flex;
    position: absolute;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    border-bottom: 0.1vw solid black;
}
.left{
   font-size: 2vw;
   font-family: gilroy;
}
.left>a{
    text-decoration: none;
    color: black;
}

.right{
    width: 35vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25vw;

}
ul>a{
    text-decoration: none;
    color: black;
}

ul>a>li{
    list-style-type: none;
    font-family: gilroy;
}

.btn{
    width: 8.5vw;
    height: 6.5vh;
    border-radius: 2vw;
    border-style: none;
    font-size: 1.1vw;
    color: white;
    background-color: black;
    cursor: pointer;
}


